/*home css*/
body {
    margin:0;
	padding: 0;
    background-image: url("../images/Homebackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table.tbl1{
    width:100%;
}

.im1{
    float:left;
}

.th1{
    font-size: 75px;
    font-family: verdana;
}

ul{
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
    background-color: black;
    color:white;
    list-style-type: none;
   
   
}


li a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}


li a:hover:not(.active){
    background-color: white;
    color:black;
}


.active{
    background-color:green;
    color:white;
}

hr.line1{
    border:2px solid rgb(67, 65, 65);
    text-align: center;
}

.btn1{
    margin:8px 4px 4px 4px;
	width:150;
	height:30px;
	background-color:rgb(239, 86, 44);
    font-size: auto;
	font-weight:bold;
    cursor: pointer;
}


.dropdwn{
    position: relative;
    display: inline-block;
}

.dropdwn-list{
    display:none;
    position:absolute;
    background-color: rgb(240, 251, 128);
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdwn-list a {
    color:rgb(225, 64, 64);
    padding:10px 18px;
    text-decoration: none;
    text-align: center;
    display:block;
}


.dropdwn-list a:hover{
    background-color: rgb(227, 46, 26);
}


.dropdwn:hover .dropdwn-list {
    display: block;
}

.dropdwn:hover .btn1{
    background-color: rgb(255, 174, 0);
}

/*booking*/
#bdiv1{
    text-align:center;
    background-color:burlywood;
    padding:14px 16px;
    float:center;
}