*{
    margin: 0%;
    padding: 0%;
}
.box{
    width: 700px;
    height: 519px;
    position: relative;
    margin: 8% auto;
    background-color:  rgba(199, 172, 172, 0.685);
    padding: 7px;

}
.img{
    background-image: url(images/thankyou.jpg);
    padding: 2px;

}
