body {
    margin:0;
	padding: 0;
    background-image: url("../images/Homebackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table.tbl1{
    width:100%;
}

.im1{
    float:left;
}

.th1{
    font-size: 75px;
    font-family: verdana;
}

ul{
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
    background-color: black;
    color:white;
    list-style-type: none;
   
   
}


li a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}


li a:hover:not(.active){
    background-color: white;
    color:black;
}


.active{
    background-color:green;
    color:white;
}

hr.line1{
    border:2px solid rgb(67, 65, 65);
    text-align: center;
}

.btn1{
  background-color: #b7330a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: sticky;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d97f2a
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btn1 {
    background-color: #cd480f;
}

